<% @page_heading = _("Post Types") %>

<div class='left_form'>
  <%= error_messages_for 'post_type' %>
  <%= form_tag :action=>"edit", :id => @post_type.id do %>
  
  <div class='clearfix'>
    <label for="post_type_name"><%= _("Name")%></label>
    <div class='input'>
      <%= text_field :post_type, :name, :class => 'large'  %>
    </div>
  </div>
  <div class='clearfix'>
    <label for="post_type_description"><%= _("Description") %></label>
    <div class='input'>
      <%= text_area :post_type, :description, :rows => 5, :class => 'span4' %>
    </div>
  </div>
  <div class='actions'>
    <%= cancel_or_save %>
  </div>
  <% end %>
</div>

<div class="right_table">
  <table class='zebra-striped'>
    <thead>
      <tr class='noborder'>
        <th><%= _("Name") %></th>
        <th><%= _("Description") %></th>
        <th><%= _("Template name") %></th>
      </tr>    
    </thead>
    <tr class='shade'>
      <td><%= _("Default") %></td>
      <td><%= _("Typo default post type") %></td>
      <td>read</td>
    </tr>
    <% for pt in @post_types -%>
    <tr <%= alternate_class -%>>
      <td>
        <%= link_to_edit pt.name, pt %><br />
        <%= show_post_types_actions pt %>
      </td>
      <td><%= h pt.description %></td>
      <td><%= pt.permalink %></td>
    </tr>
    <% end -%>
  </table>
  <p class="help-block"><%= _("The template name is the filename Typo will look for when calling an article of that type. It should be in your theme under views/articles/template name.html.erb") %></p>
</div>
