<!-- Needs to be displayed below the other page form-->
  <!--John Meehan -->
  <!--Need to add a form for merge -->
  <div>
  <h4><%= _("Merge Articles") %></h4>
  <p class='help-block'>Merge an article with this article.</p>
   	<%= text_field 'article', 'id', :placeholder => _('Article ID') %>
      <input id='merge_article' type="submit" value="<%= _('Merge') %>" name="merge_article" class='btn info' />
      
  
  	
  </div>
  <!--John Meehan -->  
